@page "/DocumentTagAdmin"
@inherits DocumentTagAdminBase

<h3>DocumenTagAdmin</h3>

@if (DocumentTags == null)
{
<p><em>Loading  </em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DocumentTags)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <a href="@($"DocumentTagEdit/{item.Id}")">
                            Edit
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

